// color
$primary_color: #6A983C;
$app_bg_color: #E5E5E5;
$app_elm_bg_color: #F9F9F9;
$app_main_bg_color: #FFFFFF;
$normal_text_color: #575757;
$error_text_color: #bf1650;
$gray_color: #D1D1D1;
$light_green_color: #E2E9D3;

// font
$app_font_family: Noto Sans, Arial, Helvetica, sans-serif;
$app_font_style: normal;

// font size
$normal_text_size: 13px;

// padding
$app_main_padding: 0 15px;
$container_layout_home_padding: 2rem;
